spring:
  application:
    name: smart-transport

  datasource:
    url: jdbc:postgresql://localhost:5432/smart_transport
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    baseline-version: 0
    sql-migration-prefix: V
    sql-migration-separator: __
    sql-migration-suffixes: .sql
  mail:
    host: smtp.gmail.com
    port: 587
    username: csc12005hr@gmail.com
    password: lfrg lpam pjxh iiyd
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: on_param

logging:
  level:
    root: INFO
    com.example.demo: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
jwt:
  secret: your_jwt_secret_key_smart_transport_demo
  access-time: 3600000  # 1 hour in milliseconds
  refresh-time: 86400000  # 24 hours in milliseconds
app:
  frontend-url:
    urls:
      - "http://localhost:3000"
      - "http://localhost:5173"
      - "http://localhost:5174"
      - "*"
  password-default: 123456
  authenticate-ignored:
    methods:
      get:
        - "/swagger-ui/**"
        - "/swagger-ui.html"
        - "/v3/api-docs/**"
        - "/v3/api-docs"
        - "/swagger-resources/**"
      post:
        - "/api/v1/auth/**"
        - "/api/v1/users/**"

cache:
  expires:
    "[user.details]": 1m
    "[auth.invalidatedTokens]": 24h
    "[otp.codes]": 10m
